* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}
img {
  width: 100%;
  width: 64px;
  height: 64px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
